/* タブレット */
@media (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

/* スマホ */
@media (max-width: 720px) {
  .header-list {
    display: none;
  }

  /* .menu-icon {
      display: block;
    } */

  .top-wrapper {
    padding-top: 130px;
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  footer {
    text-align: center;
  }
}
